$font-title: "Fjalla One", sans-serif;

$font-text: "Poppins", sans-serif;



$color-title-blue: #3d6878;

$color-bg-dark: #333333;
$color-bg-light: #cfcfcf;

$color-span-html: #eb6947;
$color-span-css: #278e8b;

$color-red: #c01a1c;
$color-green: #00694b;
$color-black: #010101;
$color-blue: #0323da;
$color-white: #fff;
$color-yellow: #f1e209;
$color-orange: #f09104;
$color-pink: #f184ec;
$color-purple: #8909f1;
$color-brown: #524417;
$color-grey: #7c7e81;
$color-gold: #b4a621;